<h1><p><center>~ Selamat Datang ~</h1></P></center>
    <center> <img src="img/kontak.png"</center>
<h2><p>   Halaman Kontak merupakan salah satu halaman penting pada sebuah website, karena dapat membantu pengunjung untuk menemukan informasi yang mereka butuhkan tentang perusahaan atau pemilik website. Halaman ini juga dapat meningkatkan kepercayaan pengunjung pada website dan perusahaan yang diwakilinya</p></h2>